*.rds filter=lfs diff=lfs merge=lfs -text
simu/simu_results/infer_res_flsa_heavy.RData filter=lfs diff=lfs merge=lfs -text
simu/simu_results/bench_df_cluster.rds filter=lfs diff=lfs merge=lfs -text
simu/simu_results/neth_neigh_pc_municip_full_infer_res_flsa.rds filter=lfs diff=lfs merge=lfs -text
simu/simu_results/utrecht_district_pc_municip_dim_rms_clust_score_df.rds filter=lfs diff=lfs merge=lfs -text
simu/simu_results/utrecht_district_pc_municip_dim_rms_df.rds filter=lfs diff=lfs merge=lfs -text
simu/simu_results/neth_municip_pc_province_tidy_df.rds filter=lfs diff=lfs merge=lfs -text
simu/simu_results/neth_neigh_pc_municip_tidy_df.rds filter=lfs diff=lfs merge=lfs -text
simu/simu_results/utrecht_district_pc_municip_tidy_df.rds filter=lfs diff=lfs merge=lfs -text
simu/simu_results/bench_df.rds filter=lfs diff=lfs merge=lfs -text
simu/simu_results/neth_municip_pc_province_dim_rms_clust_score_df.rds filter=lfs diff=lfs merge=lfs -text
simu/simu_results/neth_municip_pc_province_dim_rms_df.rds filter=lfs diff=lfs merge=lfs -text
simu/simu_results/utrecht_neigh_pc_district_full_infer_res_flsa.rds filter=lfs diff=lfs merge=lfs -text
simu/simu_results/bench_df_q2.rds filter=lfs diff=lfs merge=lfs -text
simu/simu_results/bench_df_q1.rds filter=lfs diff=lfs merge=lfs -text
simu/simu_results/bench_df_q.rds filter=lfs diff=lfs merge=lfs -text
simu/simu_results/infer_res_flsa_heavy_utr_neigh_mun.rds filter=lfs diff=lfs merge=lfs -text
simu/simu_results/infer_utrecht_neigh_pc_district.RData filter=lfs diff=lfs merge=lfs -text
simu/simu_results/infer_utrecht_neigh_pc_municip.RData filter=lfs diff=lfs merge=lfs -text
simu/simu_results/infer_utrecht_neigh_pc_province_dim_rms_clust_score.RData filter=lfs diff=lfs merge=lfs -text
simu/simu_results/utrecht_neigh_pc_municip_tidy_df.rds filter=lfs diff=lfs merge=lfs -text
simu/simu_results/neigh_bench.rds filter=lfs diff=lfs merge=lfs -text
simu/simu_results/utrecht_neigh_district_infer_res_flsa.rds filter=lfs diff=lfs merge=lfs -text
simu/simu_results/bench_df2_1.rds filter=lfs diff=lfs merge=lfs -text
simu/simu_results/cluster filter=lfs diff=lfs merge=lfs -text
simu/simu_results/neth_neigh_pc_municip_full_infer_res.rds filter=lfs diff=lfs merge=lfs -text
simu/simu_results/utrecht_neigh_pc_district_dim_rms_clust_score_df.rds filter=lfs diff=lfs merge=lfs -text
simu/simu_results/utrecht_neigh_pc_district_full_infer_res.rds filter=lfs diff=lfs merge=lfs -text
simu/simu_results/bench_df3.rds filter=lfs diff=lfs merge=lfs -text
simu/simu_results/utrecht_neigh_pc_province_tidy_df.rds filter=lfs diff=lfs merge=lfs -text
simu/simu_results/infer_neth_neigh_pc_municip_dim_rms_clust_score.RData filter=lfs diff=lfs merge=lfs -text
simu/simu_results/infer_utrecht_district_pc_municip.RData filter=lfs diff=lfs merge=lfs -text
simu/simu_results/infer_utrecht_neigh_smooth.RData filter=lfs diff=lfs merge=lfs -text
simu/simu_results/utrecht_neigh_pc_municip_dim_rms_df.rds filter=lfs diff=lfs merge=lfs -text
simu/simu_results/utrecht_neigh_pc_province_dim_rms_df.rds filter=lfs diff=lfs merge=lfs -text
simu/simu_results/bench_df1.rds filter=lfs diff=lfs merge=lfs -text
simu/simu_results/infer_neth_neigh_pc_muncip.RData filter=lfs diff=lfs merge=lfs -text
simu/simu_results/utrecht_neigh_pc_district_infer_res.rds filter=lfs diff=lfs merge=lfs -text
simu/simu_results/bench_df_q4.rds filter=lfs diff=lfs merge=lfs -text
simu/simu_results/utrecht_neigh_pc_municip_dim_rms_clust_score_df.rds filter=lfs diff=lfs merge=lfs -text
simu/simu_results/neth_neigh_pc_municip_dim_rms_df.rds filter=lfs diff=lfs merge=lfs -text
simu/simu_results/infer_res_heavy.RData filter=lfs diff=lfs merge=lfs -text
simu/simu_results/bench_df_q3.rds filter=lfs diff=lfs merge=lfs -text
simu/simu_results/infer_neth_municip_pc_province.RData filter=lfs diff=lfs merge=lfs -text
simu/simu_results/bench_df2_2.rds filter=lfs diff=lfs merge=lfs -text
simu/simu_results/utrecht_neigh_pc_district_dim_rms_df.rds filter=lfs diff=lfs merge=lfs -text
simu/simu_results/utrecht_neigh_municip_full_infer_res_flsa.rds filter=lfs diff=lfs merge=lfs -text
simu/simu_results/utrecht_neigh_pc_municip_full_infer_res.rds filter=lfs diff=lfs merge=lfs -text
simu/simu_results/infer_res_heavy_utr_neigh_mun.rds filter=lfs diff=lfs merge=lfs -text
simu/simu_results/neth_neigh_pc_municip_dim_rms_clust_score_df.rds filter=lfs diff=lfs merge=lfs -text
simu/simu_results/utrecht_neigh_district_full_infer_res_flsa.rds filter=lfs diff=lfs merge=lfs -text
simu/simu_results/utrecht_neigh_pc_district_tidy_df.rds filter=lfs diff=lfs merge=lfs -text
simu/simu_results/infer_utrecht_neigh_pc_province.RData filter=lfs diff=lfs merge=lfs -text
simu/simu_results/utrecht_neigh_pc_province_dim_rms_clust_score_df.rds filter=lfs diff=lfs merge=lfs -text
simu/simu_results/infer_res_heavy_utr_neigh_mun.RData filter=lfs diff=lfs merge=lfs -text
. !text !filter !merge !diff
